<?xml version="1.0" encoding="UTF-8"?>
<web-config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://xson.org/schema/web/webconfig.xsd">

	<config-property name="A" value="B" />

	<domain id="service" base="http://all.taovr.service" />

	<cache id="xxx1">
		<property name="a" value="b"/>
	</cache>

	<plugin resource="controller.xml" />

</web-config>